body {
	background: #ccc;
	background-image: url('../images/backgrounds/brushed_alu.png');
	font-family: proxima-nova,"Helvetica Neue",Helvetica,Arial,sans-serif;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	font-size: 15px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal !important;
}

footer {
	color: white;
}

#footer-wrap {
	max-width: 1240px;

	margin: 0 auto;
	margin-bottom: 20px;
		-webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
	box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

#primary-footer {
	background: #4e4c4c;
	padding: 20px;
}

#primary-footer h2 {
	font-size: 22px;
	text-transform: uppercase;
}

#primary-footer p {
	font-size: 12px;
}

#secondary-footer {
	background: #393737;
	padding: 10px 20px;
}

#page-wrap {


}

.region-sidebar-first h2 {
	font-size: 24px;
}

#content-wrap {
	padding: 20px 20px 0px 20px;
		background: #FDFDFD;
	margin: 0 auto;
	-webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
	box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
	margin-top: 20px;
	max-width: 1200px;
}

#branding {
  padding-top: 6px;
}

#site-logo {
	margin-bottom: 4px;
}

.hidden {
	display: none;
}

#menu {
	margin: 0px 0px 0px 0px;
}

#header-right {
	text-align: right;
	margin-bottom: 10px;
}

#header-right .form-wrapper{
	float: right;
	background: transparent;
	border-top: none;
	padding: 0px 0px 0px 5px;
}

.region-header-right-bottom input[type="submit"].btn {
  padding: 4px 17px;
  background-color: #e6e6e6; 
  background-image: url('../images/search.png') center center no-repeat;
  background: url('../images/search.png') center center no-repeat, -moz-linear-gradient(top, #FFF, #e6e6e6); 
  background: url('../images/search.png') center center no-repeat, -webkit-linear-gradient(top, #FFF, #e6e6e6); 
  background: url('../images/search.png') center center no-repeat, -o-linear-gradient(top, #FFF, #e6e6e6); 
  background: url('../images/search.png') center center no-repeat, linear-gradient(to bottom, #FFF, #e6e6e6); 
}

.view-header.btn-small { 
  font-size: 13px !important;
}

header form {
	margin: 0;
}

.panels-flexible-region-2-center {
  width: 100%;
}

/* Popular tags view*/
.view-popular-tags .item-list ul li {
  list-style: none;
  display: inline;
  float: left;
  margin-left: 0px;
}

.view-popular-tags a {
	color: #fff; 
  text-decoration: none; 
  padding:7px 10px; 
  background-color: #333; 
  margin: -5px 8px 12px 0px;
  display: inline-block; 
  font-size: 12px;
  -webkit-transition: background .1s linear;
	-moz-transition: background .1s linear;
	transition: background .1s linear; 
}

.view-popular-tags a:hover {
  color: #fff; 
  text-decoration: none; 
  padding:7px 10px; 
  margin: -5px 8px 12px 0px;
  display: inline-block; 
}


/* Scroll Menu */
#scroll-menu{ 
  z-index: 9999; 
  position: fixed; 
  left: 0; 
  top: -45px; 
  width: 100%; 
  border-bottom: 1px solid #666;
  opacity: .95;
} 

#scroll-menu-wrap {
	position: relative;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0px 20px;
}

#scroll-menu #menu {
	margin: 0px 0px 0px 20px;
}

/* Main Menu */
#menu.row {
  margin: -30px 0px -1px 0px !important;
}

#menu_wrap {
  padding: 10px 0px 0px 10px;
}

#main-menu {
	min-height: 45px; 
	margin: 0px -18px -1px -18px; 
	-moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);  
	-khtml-box-shadow: 0px 0px 4px rgba(0,0,0,0.55); 
	-webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
}

#menu li {
	list-style: none; 
	display: inline; 
	-webkit-transition: background .1s linear;
	-moz-transition: background .1s linear;
	transition: background .1s linear; 
}

#menu li:hover {
	background: #393737; 
}

#menu li a.active {
	color: #2a2a2a;
}

#menu li a:hover {
	color: #d3d3d3; 
	text-decoration: none;
}

#menu li li a.active {
	color: #ccc;
}

#menu .menu li {
	position: relative; 
	padding:13px 0px 14px 0px; 
	border-right: 1px solid #393737; 
	margin-left: -4px;
}

#menu .menu li:last-child {
  border-right: none;
}

#menu li a {
  color: #FFF;  
  padding:16px 25px 14px 25px; 
  font-size: 12px; 
}

#menu .menu li.first {
  margin-left: 0px; 
  border-left: none;
}

#menu .menu ul li {
  padding: 0px; 
  margin: 0; 
  clear: both; 
  border-right: none;
  border-left: none;
  display: block;
}

#menu .menu ul { 
  opacity: .95;
  border: solid 1px #1e1e1e; 
  padding: 0; 
  position: absolute; 
  top: 2.8em; 
  left: -1px; 
  z-index: 1000; 
  display: none;
}

#menu .menu ul li {
	background: #393737;
}

#menu .menu ul li:hover {
  background: #f45721; 
}

#menu .menu ul li.last a {
  border-bottom: none;
}

.menu ul li a {
  color: #fff;
}

ul.menu {
  margin: 0; 
  padding: 10px 0px;
}

.menu li.expanded li.leaf a {
  background: none; 
  color: #FFF;
}

.menu ul li a:hover,.menu ul li a:visited:hover {
  color: #DDD !important;
}

.menu ul li a, .menu ul li a:visited, .menu li.active-trail ul li a, .menu .sfHover ul li a {
	border-bottom: solid 1px #1e1e1e; 
	color: #555; 
	display: block; 
	font-size: 0.9em; 
	font-weight: 500; 
	width: 12em; 
	text-decoration: none; 
	-khtml-border-radius-topleft: 0; 
	-khtml-border-radius-topright: 0; 
	-moz-border-radius-topleft: 0; 
	-moz-border-radius-topright: 0; 
	-webkit-border-top-left-radius: 0; 
	-webkit-border-top-right-radius: 0; 
	border-top-left-radius: 0; 
	border-top-right-radius: 0;
}

.menu li.active-trail ul li a.active {
	color: #000;
}

.menu ul ul {
	z-index: 1001; 
	margin: 0; 
	left: 15.15em; 
	top: -46px;
}

ul.menu li { 
	margin: 0;
}

li.active a {
  background: #393737;
	color: #FDFDFD !important;
}

#highlight {
	margin-top: -1.4em !important;
	margin-bottom: 30px;
}

/* Highlight */
#highlight-content {
	color: #FDFDFD;
	padding: 40px 40px;
	font-size: 36px;
}

#highlight-button {
	padding: 28px 32px;
}

.button-wrap {
	background: #393737;
	color: #FDFDFD;
	padding: 20px;
  font-size: 24px;
	text-align: center;
	-webkit-transition: background .1s linear;
	-moz-transition: background .1s linear;
	transition: background .1s linear; 
}

.arrow-down {
	width: 0; 
	height: 0; 
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	margin: 0 auto;
	border-top: 20px solid white;
	position: relative;
	margin-top: -1.1em;
}

.button-wrap:hover {
  background: #4e4c4c;
}

#highlight-button a:hover {
	text-decoration: none;
}

#highlight-content h3 {

}

#highlight-button {
	
}

#header-right-top {
	margin: 2px 0 10px 10px;

}

/* Start: Recommended Isotope styles */

#filters {
  margin-left: 0px;
  margin-bottom: 20px;
}

#filters li {
	list-style: none; 
	display: inline;
}

/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}


#isotope_test {
	margin-bottom: 20px;
}

#isotope_test li {
	list-style: none;
}

.header-cart-wrap .commerce-line-item-views-form {position: absolute;  border-radius: 5px; z-index: 3000; background: white; border: 1px solid #999; padding: 10px; margin-left: -206px; }

.header-cart-wrap .commerce-line-item-views-form table {margin-bottom: 10px; padding: 5px 0px; 	border-bottom: 1px solid #ccc;}

.header-cart-wrap .commerce-line-item-views-form tbody {
	border-top: none;

}

.header-cart-wrap .commerce-line-item-views-form td {padding: 2px 6px;}

.show {display: block;}

#breadcrumbs {background: pink;}

/* Projects Carousel */
.projects_carousel, .store-carousel {
	 margin-left: -20px !important;
}
.carousel_item_wrapper {
	text-align: center;
	position: relative;
	clear: both;
}

.carousel_item_content {
	opacity: 1;
}

.carousel_item_description {
	background: #F8F8F8;
	border-bottom: 1px solid #E8E8E8;
	margin-bottom: 20px;
	margin-top: -6px;
	text-align: center;
	padding: 1px 0px;
	position: relative;
}

.carousel_item_hover {
	display: block;
	color: #fff;
	opacity: 0;
	filter: alpha(opacity=0);
	height: 100%;
	width: 100%;
	top: 0%;
	position: absolute;
	padding:45px 15px;

}

.six .carousel_item_hover {
  padding: 150px 15px;
}

.four .carousel_item_hover {
  padding: 80px 15px;
}

.carousel_item_hover i {
	margin: 4px;
	font-size: 22px;
	color: #fff;
	-moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.carousel_item_hover p {
	font-size: 20px;
	margin-bottom: 5px;
}

.portfolio-carousel-navigation, .store-carousel-navigation {
	margin-left: 20px;
	margin-top: -55px;
	font-size: 14px;
	float: right;
	background: white;
	padding: 10px 0px 10px 10px;
	margin-right: -13px;
	width: 85px;
}



#recent_projects, #store-carousel-list-wrap {
  margin: 0px 0px 20px 0px;
}

#recent_projects li, #store-carousel-list-wrap li {
	width: 250px;
	float: left;
	margin-left: 20px;
	list-style: none;
	cursor: pointer !important;
	
}

.caroufredsel_wrapper {
  min-height: 310px;
}

article {
	padding-bottom: 15px;
}

article p {
	font-size: 15.5px;
	margin: 10px 0px 15px 0px;
}

.submitted {
	margin-bottom: 15px;
}

.node-content {
	margin-top: 5px;
}

.node-title a {
	color: #333;
}

.read-more, .tags {
	margin-right: 40px;
}

.tags, .comments-meta {
	margin-top: 5px;
	font-size: 15px;
}

.tags i, .comments-meta i {
	margin-right: 5px;
	color: #555;
	font-size: 18px;
}

.read-more, .tags, .comments-meta {
	float: left;
}

.post-hr {
	margin-bottom: 15px;
  box-shadow: inset 0 6px 6px -6px #888;
}

#breadcrumbs {
	margin-bottom: 20px;
}

@media screen and (max-width: 767px) { 
  #scroll-menu {
	  display: none;
  }
}

/*BLUR*/

.portfolio-item {
	overflow: hidden;
}

.portfolio-item figure {
	margin: 0;
}

.portfolio-item img{
  -webkit-transition: all .5s ease-in;
     -moz-transition: all .5s ease-in;
       -o-transition: all .5s ease-in;
      -ms-transition: all .5s ease-in;
          transition: all .5s ease-in;
  filter: blur(0px) contrast(1);
	-webkit-filter: blur(0px) contrast(1);
	-moz-filter: blur(0px) contrast(1);
	-o-filter: blur(0px) contrast(1);
	-ms-filter: blur(0px) contrast(1);
	
	max-width: 100%;
    position: relative;
    z-index: 900;
}

.portfolio-item figure a {
	position: relative;
	display: block;
	line-height: 0px;
	text-decoration: none;
}

.portfolio-item figure a:before {
  content: "\f0b2";
	font-family: FontAwesome;
	display: block;
	font-size: 24px;
	line-height: 1em;
	height: 1em;
	width: 1em;
	text-align: center;
	
	color: black;
	
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 100;
	
	margin: -0.5em 0 0 -0.5em;
}

.portfolio-item figure a:hover img {
	opacity: 0.8; 
	filter: alpha(opacity=40); /* IE6-IE8 */
}

 
.portfolio-item img:hover {
  filter: blur(2px) contrast(.3);
	-webkit-filter: blur(2px) contrast(.3);
	-moz-filter: blur(2px) contrast(.3);
	-o-filter: blur(2px) contrast(.3);
	-ms-filter: blur(2px) contrast(.3);
}

.portfolio-pagination {
	text-align: right;
	padding: 15px 0px 0px 0px;
}

.portfolio-pagination-links li {
	list-style: none;
	display: inline;
	margin-right: -5px;
	font-size: 28px;
}

.cart-empty-block .icon-shopping-cart {
	margin-right: 5px;
}

#scroll-menu .header-cart-wrap .commerce-line-item-views-form {
	margin-left: -105px;
}

/* Search styles */
.search-api-ranges-widget .text-range, .search-api-ranges-widget .form-submit {
  display: none;
}

label[for="edit-range-from"], label[for="edit-range-to"] { display:none; }

.search-api-ranges-widget .form-item-range-from .form-text, .search-api-ranges-widget .form-item-range-to .form-text {
	width: 60px;
	border: none;
	box-shadow: none;
}

.yui3-u.range-slider-box {

	margin-left: 8px;
}

.search-api-ranges-widget .form-item-range-to .form-text {
	text-align: right;
}

.yui3-u.range-box.range-box-left {
	width: 100px;
	float: left;
}

.yui3-u.range-box.range-box-right {
	width: 100px;
	float: right;
	text-align: right;
}

.yui3-g .form-item {
	margin: 0px;
}

.store-item {
	margin-bottom: 25px;
	border: 1px dotted #393737;

}

.store-item-content {

	text-align: center;
	padding: 10px 0px;
}

.facetapi-facetapi-checkbox-links li {
	list-style: none !important;
	margin-left: 0px !important;
}

.facetapi-facetapi-checkbox-links input[type="checkbox"] {
  margin: 0px 8px 0px 0px;
}

.store-item-content form {
	margin: 0px;
}

.store-item-content input[type="submit"].btn {
  margin-top: 8px;
  margin-bottom: 3px;
}

.store-item .attribute-widgets, .store-item .form-item-quantity {
	display: none;
}

.store-item-price-rating {
	padding: 5px 60px;
	margin: 3px 0px;
}

.sorts-block-title {
	float: left ;
	margin-right: 10px;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	padding-top: 5px;
}

.search-api-sorts {
	margin: 0;
}

.search-api-sorts .last {
	display: none;
}

.search-api-sorts li {
	list-style: none;
	display: inline;
	margin-left: 0px !important;
	margin-right: 5px !important;
}

.search-api-sorts li a {
	padding-right: 20px;
}

.search-api-sort-active img{
  margin-left: -22px;
}

.form-submit btn:before {
	content: "\f07a";
	font-family: FontAwesome;

}

.front-page .pane-title {
  color: #393737;
	font-size: 18px;
	margin-bottom: 13px;
	border-bottom: 1px dotted #393737;
	text-transform: uppercase;
}

.pane-portfolio-carousel .pane-title:before {
	content: "\f0b1";
	font-family: FontAwesome;
	margin-right: 8px;
}

.pane-store-carousel .pane-title:before {
	content: "\f07a";
	font-family: FontAwesome;
	margin-right: 8px;
} 

.store-carousel-navigation a, .portfolio-carousel-navigation a {
	padding: 10px 12px 8px 12px;
	color: white;
}

.store-carousel-navigation a:hover, .portfolio-carousel-navigation a:hover {
	text-decoration: none;
	color: whitesmoke;
}

.carousel_navigation i, .store-carousel-navigation i {
	 color: white;
	 -moz-transition: all 0.3s ease-in-out;
   -webkit-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
}

.store-carousel-navigation a, .portfolio-carousel-navigation a {
   -moz-transition: all 0.3s ease-in-out;
   -webkit-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
}

.store-carousel-navigation a:hover, .portfolio-carousel-navigation a:hover {
	background: #393737;
}

.store-item input[type="submit"] {
	width: auto;
  background: #f45721;
  border: none;
  color: white;
}

.menu-wrap {
	height: 42px;
}

.menu-social-icons {
	text-align: right;
	padding: 10px 8px 0px 0px;
	margin: 0;
}

.menu-social-icons i {
	color: white;
	font-size: 22px;
	margin-left: 2px;
	-moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.menu-social-icons i:hover {
	color: #393737;
}

.menu-social-icons li {
	list-style: none;
	display: inline;
}

.payment-icons {
	margin: 0;
	text-align: right;
}

.payment-icons li {
	margin-left: 5px;
	list-style: none;
	display: inline;
}

.mobile-menu {
	display: none;
	margin: 0 auto;
	margin-top: 5px;
}

#flickr_widget {
	margin: 0;
}

#flickr_widget li {
	list-style: none;
	float: left;
	margin-right: 30px;
	margin-bottom: 20px;
}

#flickr_widget li img {
  height: 60px;
  width: 60px;
}

.tweet_list {
  margin: 0px;
}

.tweet_list img {
  margin-right: 10px;	
  float: left;
  margin-bottom: 15px;
}

.tweet_list li {
  list-style: none; 
  margin-bottom: 10px;
  line-height: 1.4;
  font-size: 12px;
  clear: both;
}

@media screen and (max-width: 767px) { 
  .region-menu {
	  display: none;
  }
  
  .mobile-menu {
	  display: block;
  }
}